<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redireccionar HTTP a HTTPS automáticamente
  RewriteCond %{HTTPS} off
  RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

  # Fallback a index.html para soportar rutas y callbacks de Auth0
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>

# Habilitar compresión Gzip para mejorar la velocidad
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/json
</IfModule>
